<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Position</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Honor</th>
        <th scope="col">Rank</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sortedProfile of sortedProfiles; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{sortedProfile.name}}</td>
        <td>{{sortedProfile.username}}</td>
        <td>{{sortedProfile.honour}}</td>
        <td>{{sortedProfile.overall_rank}}</td>
      </tr>
    </tbody>
  </table>